@model FootballLeagueTable.Domain.MatchResult
<tr>
    <td>@Model.Date.ToString("dd MMMM yyyy")</td>
    <td>@Model.HomeTeam</td>
    <td>@Model.FTHG - @Model.FTAG</td>
    <td>@Model.AwayTeam</td>
    <td>@Model.HTHG - @Model.HTAG</td>
    <td>@Model.Referee</td>
</tr>
